/assignement2P2.class
/assignemnt2P2a.class
/assignment2P2a.class
/pattern3.class
/Pythagorus.class
/SketchTut4.class
/test.class
/GradeCalculator.class
/Guess.class
/RapperName.class
/SunOfDitgits.class
/SumOfDigits.class
/AngleProgram.class
/Program.class
